<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new recipe</title>
</head>
<body>
    <form action="/recipes" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        <label for="ingredients">Ingredients</label>
        <input type="text" name="ingredients" id="ingredients">
        <label for="instructions">Instructions</label>
        <input type="text" name="instructions" id="instructions">
        <button type="submit">Add recipe</button>
    </form>
</body>
</html>